<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="mystylesheet.css">
    <style>
        #main
        {
            width:100%;
            height:100vh;
            background-image: url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
            background-size:cover;
            background-position:center;
        }
        #blog
        {
            width:400px;
            margin:20px auto;

        }


    </style>

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><i class="fas fa-code"></i> BLOG SITE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/blogs">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs/new">New Post</a>
                </li>


            </ul>

        </div>
    </nav>



